body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

    text-decoration: none;
}
.logobegin {
    color: #4D5AE5;
}

.marker {
    list-style: none;
}


/* =============== HEADER =============== */
.main-menu{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
}

.contacts{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* INDEX PAGE */
/* =============== MAIN =============== */



/* PORTFOLIO PAGE */
